<div class="gitlab">
  <a href="https://gitlab.com/jameszimo/resume" target="_blank">
    <img class="gitlab-image" alt="gitlab" src="../../../assets/images/gitlab.webp"/>
    <div>https://gitlab.com/jameszimo/resume</div>
  </a>
</div>
