.resume-container {
  margin-right: 50px;

  &.XSmall {
    margin-right: 15px;
  }
}

.gitlab {
  padding-top: 30px;
  text-align: center;
}

.gitlab-image {
  height: 25px;
}

.end {
  color: white;
}
